@model IEnumerable<Keeps.Models.Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    <a asp-action="AddEmp" class="btn btn-outline-info">Create New</a>
</p>
<table class="table table-bordered table-hover" >
    <thead>
        <tr>
            <th>
                Action
            </th>
            <th>
                Employee Code
            </th>
            <th>
               Employee Name
            </th>
            <th>
               Employee Email
            </th>
            <th>
                Department Name
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink("Edit", "AddEmp", new {Id = item.ID, item.Name, item.EmpCode,item.Email,item.DeptId }, new { @class = "btn btn-success" })
                @Html.ActionLink("Delete", "Deleteemp", new {Id=item.DeptId}, new { @class="btn btn-danger", onclick="return confirm('Do you want to delete?')"})
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeptName)
            </td>
            @*<td>
                <a asp-action="Edit" "Create" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
